In [2]:
import pandas as pd
import numpy as np

###### Generate two $3*4$ DataFrames, one $6*2$ and one Series with random numbers and one dataframe from a dictionary

In [43]:
df_1 = pd.DataFrame( np.random.uniform( 0 , 10 , [3 , 4] ),
                    columns=['a','b','c','d'],
                    index=['x0','x1','x2'])


df_2 = pd.DataFrame( np.random.uniform( 0 , 10 , [3 , 4] )
                    )
df_2.index=['x3','x4','x5']
df_2.columns=['a','b','c','d']


df_3 = pd.DataFrame( np.random.uniform( 0 , 10 , [6 , 2] ),
                    columns=['e','f'],
                    index=['y%s'%i for i in range(6)])

df_4 = pd.DataFrame.from_dict( {
    "Mostafa":{"Age":32,"GPA":4, "books":100},
    "Ali":{"Age":33,"GPA":3.9, "books":120},
    "Vahid":{"Age":34,"GPA":3.8, "books":90},
} , orient='index' )


se_1 = pd.Series( np.random.uniform( 0 , 10 , [6 , ] ) 
                 , index=['s%s'%i for i in range(6)] )


print(df_1)
print(df_2)
print(df_3)
print(df_4)
print(se_1)
print(df_1.columns)
print(df_1.index)

           a         b         c         d
x0  2.177689  8.922081  9.728325  9.648362
x1  5.323405  7.114532  1.889546  2.467828
x2  7.276507  1.438472  1.263988  2.061257
           a         b         c         d
x3  7.541036  0.292010  3.169559  8.436208
x4  9.556189  3.995653  6.828841  7.131121
x5  0.627475  3.546008  6.905168  4.783671
           e         f
y0  3.322687  3.338198
y1  1.154503  7.671023
y2  4.282581  4.056443
y3  5.284550  4.555519
y4  5.852457  4.157614
y5  8.040522  4.462905
         Age  GPA  books
Ali       33  3.9    120
Mostafa   32  4.0    100
Vahid     34  3.8     90
s0    8.704596
s1    3.234583
s2    7.709528
s3    4.707848
s4    1.428455
s5    3.036839
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['x0', 'x1', 'x2'], dtype='object')

#### data indexing

In [47]:
print(df_4.loc['Mostafa'])

Age       32.0
GPA        4.0
books    100.0
Name: Mostafa, dtype: float64

In [49]:
print(df_4.iloc[1])

Age       32.0
GPA        4.0
books    100.0
Name: Mostafa, dtype: float64

In [51]:
print(df_4['GPA'])

Ali        3.9
Mostafa    4.0
Vahid      3.8
Name: GPA, dtype: float64

In [52]:
print( df_4['GPA']['Ali'] )

3.9

#### reindexing and filling

In [54]:
se_2 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
se_2

0      blue
2    purple
4    yellow
dtype: object

In [56]:
se_2.reindex(range(6))

0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

In [58]:
se_2.reindex(range(6), fill_value='red')

0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

In [60]:
se_2.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [66]:
se_3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 4])
se_3

0      blue
3    purple
4    yellow
dtype: object

In [68]:
print( se_3.reindex(range(6), method='ffill', limit=1))

0      blue
1      blue
2       NaN
3    purple
4    yellow
5    yellow
dtype: object

In [65]:
print(df_4)
print(df_4.reindex(['Ali','Mostafa','Hesam','Vahid']))
print(df_4.reindex( columns= ['GPA','Age','books']))
print(df_4.reindex(['Mostafa','Ali','Vahid']))

         Age  GPA  books
Ali       33  3.9    120
Mostafa   32  4.0    100
Vahid     34  3.8     90
          Age  GPA  books
Ali      33.0  3.9  120.0
Mostafa  32.0  4.0  100.0
Hesam     NaN  NaN    NaN
Vahid    34.0  3.8   90.0
         GPA  Age  books
Ali      3.9   33    120
Mostafa  4.0   32    100
Vahid    3.8   34     90
         Age  GPA  books
Mostafa   32  4.0    100
Ali       33  3.9    120
Vahid     34  3.8     90

In [3]:
def myfunc(x,y):
    return [x/y , x+1]

In [4]:
# you can write it simppler but just to show you how to do it
df_1[["var1", "var2"]]=df_1[["books","Age"]].apply(lambda x: myfunc(*x), axis=1)

In [5]:
df_1

         Age  GPA  books      var1   var2
Ali       33  3.9    120  3.636364  121.0
Mostafa   32  4.0    100  3.125000  101.0
Vahid     34  3.8     90  2.647059   91.0