In [1]:
import pandas as pd

In [2]:
df_1 = pd.DataFrame.from_dict( {
    "Mostafa":{"Age":32,"GPA":4, "books":100},
    "Ali":{"Age":33,"GPA":3.9, "books":120},
    "Vahid":{"Age":34,"GPA":3.8, "books":90},
} , orient='index' )

In [3]:
def myfunc(x,y):
    return x/y

In [4]:
# you can write it simppler but just to show you how to do it
df_1["var"]=df_1[["books","Age"]].apply(lambda x: myfunc(*x), axis=1)

In [5]:
df_1

         Age  GPA  books       var
Ali       33  3.9    120  3.636364
Mostafa   32  4.0    100  3.125000
Vahid     34  3.8     90  2.647059